<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function saveUser() {
            const userNameTextBox = document.getElementById('userNameTextBox');
            const userLoginTextBox = document.getElementById('userLoginTextBox');
            const userPasswordTextBox = document.getElementById('userPasswordTextBox');
            const userRoleTextBox = document.getElementById('userRoleTextBox');
            const userDataContainer = document.getElementById('userDataContainer');
            const name = userNameTextBox.value;
            const login = userLoginTextBox.value;
            const password = userPasswordTextBox.value;
            const role = userRoleTextBox.value;

            fetch('api/user', {
                method: 'post',
                headers: {'Content-Type':'application/x-www-form-urlencoded'},
                body: 'name=' + name + '&login=' + login + '&password=' + password + '&role=' + role
            })
                .then(response => response.json())
                .then(user => addedUserId.innerHTML = 'Добавлен пользователь:' + JSON.stringify(user));
        }

        function refresh() {
            location.reload();
        }
    </script>
</head>

<body>
<h4>Создать пользователя</h4>
<input type="text" id="userNameTextBox" placeholder="Введите имя пользователя">
<input type="text" id="userLoginTextBox" placeholder="Введите login пользователя">
<input type="password" id="userPasswordTextBox" placeholder="Введите password пользователя">
<input type="text" readonly id="userRoleTextBox" value="user" placeholder="Все пользователи создаются с ролью user">
<button onclick="saveUser()">Создать</button>
<pre id="addedUserId"></pre>

<h4>Список пользователей</h4>
<#list users>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Login</th>
        <th>role</th>
    </tr>
    <#items as users>
    <tr class="${users?item_parity}Row">
        <td>${users.id}
        <td>${users.name}
        <td>${users.login}
        <td>${users.role}
        </#items>
</table>
</#list>
<button onclick="refresh()">Обновить</button>

</body>
</html>
